---
import Footer from '@/components/shared/Footer.astro';
import Navbar from '@/components/shared/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';
import "@/styles/globals.css";

type Props = {
	title: string;
	description?: string;
	robots?:
		| "index, follow"
		| "noindex, follow"
		| "index, nofollow"
		| "noindex, nofollow";
	image?: string;
};

const {
	title,
	description = '',
	robots = 'index, follow',
	image = 'https://raw.githubusercontent.com/qbixmex/astro-store/refs/heads/main/public/assets/products/1703767-00-A_0_2000.jpg',
} = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="robots" content={robots} />

		<!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
		<ViewTransitions />
	</head>
	<body>
		<Navbar />
		<div id="layout">
			<main id="content">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
